<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.kevvy.chat_java.mappers.UserContactMapper">

    <resultMap id="BaseMap" type="io.github.kevvy.chat_java.entity.UserContact">
        <id column="user_id" property="userId"/>
        <id column="contact_id" property="contactId"/>
        <result column="contact_type" property="contactType"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>

    <sql id="BaseColumns">
        user_id, contact_id, contact_type, create_time, status, last_update_time
    </sql>
    <sql id="BaseSelectSql">
        <!--            <where> 自动添加where  并去掉首个and包括自己写的and/or-->
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="contactId != null and contactId != ''">
                AND contact_id = #{contactId}
            </if>
            <if test="contactType != null">
                AND contact_type = #{contactType}
            </if>
            <if test="createTimeStart != null">
                AND create_time <![CDATA[ >= ]]> #{createTimeStart}
            </if>
            <if test="createTimeEnd != null">
                AND create_time <![CDATA[ <= ]]> #{createTimeEnd}
            </if>
            <if test="lastUpdateTimeStart != null">
                AND lastUpdateTime <![CDATA[ >= ]]> #{lastUpdateTimeStart}
            </if>
            <if test="lastUpdateTimeEnd != null">
                AND lastUpdateTime <![CDATA[ <= ]]> #{lastUpdateTimeEnd}
            </if>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>    </sql>

    <insert id="insert" parameterType="io.github.kevvy.chat_java.entity.UserContact">
        INSERT INTO user_contact
        (user_id, contact_id, contact_type, create_time, status, last_update_time)
        VALUES
            (#{userId}, #{contactId}, #{contactType}, #{createTime}, #{status}, #{lastUpdateTime})
    </insert>

    <update id="updateStatus">
        UPDATE user_contact
        SET status = #{status}
        WHERE user_id = #{userId}
          AND contact_id = #{contactId}
    </update>
    <update id="updateById" parameterType="io.github.kevvy.chat_java.entity.UserContact">
        UPDATE group_info
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="contactId != null">contact_id = #{contactId},</if>
            <if test="contactType != null">contact_type = #{contactType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lastUpdateTime != null">last_update_time = #{lastUpdateTime},</if>
        </set>
        WHERE user_id = #{userId}
        AND contact_id = #{contactId}
    </update>

    <select id="findByQuery"
            parameterType="io.github.kevvy.chat_java.entity.dto.query.UserContactQuery"
            resultMap="BaseMap">

        SELECT *
        FROM user_contact
        <include refid="BaseSelectSql"/>
    </select>

    <select id="findListByQuery"
            parameterType="io.github.kevvy.chat_java.entity.dto.query.UserContactQuery"
            resultMap="BaseMap">

        SELECT *
        FROM user_contact
        <include refid="BaseSelectSql"/>
    </select>

    <select id="selectByPk" resultMap="BaseMap">
        SELECT <include refid="BaseColumns"/>
        FROM user_contact
        WHERE user_id = #{userId}
        AND contact_id = #{contactId}
    </select>

    <select id="listByUserId" resultMap="BaseMap">
        SELECT <include refid="BaseColumns"/>
        FROM user_contact
        WHERE user_id = #{userId}
        <if test="contactType != null">
            AND contact_type = #{contactType}
        </if>
        ORDER BY last_update_time DESC
    </select>

    <delete id="deleteByPk">
        DELETE FROM user_contact
        WHERE user_id = #{userId}
          AND contact_id = #{contactId}
    </delete>

</mapper>
