<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.kevvy.chat_java.mappers.UserMapper">
    <!--字段映射，对其数据库和entity的名称和数据类型-->
    <resultMap id="BaseResultMap" type="io.github.kevvy.chat_java.entity.User">
        <id property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="joinType" column="join_type" jdbcType="TINYINT"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
        <result property="areaName" column="area_name" jdbcType="VARCHAR"/>
        <result property="areaCode" column="area_code" jdbcType="VARCHAR"/>
        <result property="lastOffTime" column="last_off_time" jdbcType="BIGINT"/>
    </resultMap>
    <!--SQL 片段复用模板。-->
    <sql id="Base_Column_List">
        user_id
        ,email,nick_name,
        join_type,sex,password,
        signature,status,create_time,
        last_login_time,area_name,area_code,
        last_off_time
    </sql>

    <select id="countAll" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT *
        FROM user
    </select>

    <select id="findById" parameterType="String" resultMap="BaseResultMap">
        SELECT *
        FROM user
        WHERE user_id = #{id}
          AND `status` = 0
    </select>

    <select id="findByEmail" parameterType="String" resultMap="BaseResultMap">
        SELECT *
        FROM user
        WHERE email = #{id}
          AND `status` = 0
    </select>

    <insert id="insertUser" parameterType="io.github.kevvy.chat_java.entity.User">
        INSERT INTO user(username, password)
        VALUES (#{username}, #{password})
    </insert>

    <delete id="deleteUser" parameterType="String">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>
</mapper>
